body{
    font-family: sans-serif;
    background: #fdf2f8;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-end;
    margin: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 0px 20px
}

nav h2 {
    margin-right: auto;
    color: #ec4899;
    font-family: sans-serif;
}

nav h4 a{
    text-decoration: none;
    color: #4b5563;

}

nav h4 a:hover {
    color: #ec4899;
}

a{
    text-decoration: none;
    color: black;
}


#search_row {
    display: flex;
    align-items: center;
    gap: 15px;
}

#search_box{
    display: flex;
    align-items: center;
    outline: auto;
    padding: 10px 10px;
    margin: 10px;
    width: 88%;
    height: 45px;
    border-radius: 10px;
}

#intro{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

#search_box input {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 15px;
}

button {
    height: 45px;
    padding: 10px 20px;
    align-items: center;
    border-radius: 10px;
    background-color: #EC4899;
    color: white;

}

#search{
    padding-left: 20px;
}

 button{
    display: flex;

 }



 #main-content{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
 }


#job_search{
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
}





.card{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    background-color: white;

}

.job_name{
    font-family: 'Lucida Sans';
    margin-bottom: 1px;

}

#info{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

}

.type, .company_name{
    font-family:'Lucida Sans' ;
    font-size: 12px;
    margin: 0px;
}

.excerpt{
    font-family: 'Lucida Sans';

}

.info :first-child {
    outline: auto;
    padding: 10px;
    width: 20%;
    border-radius: 10px;
}

.info :nth-child(2){
    outline: auto;
    padding: 10px;
    width: 20%;
    border-radius: 10px;
}

.info :nth-child(3){
    outline: auto;
    padding: 10px;
    width: 20%;
    border-radius: 10px;
}


.labels{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
}

.label_tag{
    outline: auto;
    padding: 6px 12px;
    border-radius: 10px;
    margin: 0;
    font-size: 12px;
    font-family: 'Lucida Sans';
    background-color: rgb(250, 226, 244) ;
    outline-color:#EC4899;
}

.job_viewer{
    color: white;
    font: arial;
    background: #EC4899;
    margin: 20px 0px 0px;
    padding: 12px 28px;
}